<html><body>
<h1>Ahorcado</h1>
<form method="POST" action="validar">
<input type="text" id=numero name=numero />
<input type="submit" value="^"/>
</form>
letra= <%= @@mm.input %>
<img src="0.png">
<h2><%= @ahorcado.palabra %></h2>
</body></html>

<html>
  
  <h1 style="align:center">Juego del Ahorcado</h1>

</html>

