<html>
<body>
<h1>Ahorcado de Gardel</h1>
<br />
<br />
<table>
  <tr>
    <td><img src="0.png" height="20%"></td>
    <td>
      <table>
        <tr>
        <% @@ahorcado.palabra.split('').each do |l| %>
        <%= "<td>#{l}</td>" %>
        <% end %>
        </tr>
        <tr>
        <% @@ahorcado.palabra.split('').each do |l| %>
        <%= "<td>-</td>" %>
        <% end %>
        </tr>
        </table>
    </td>
  </tr>
</table>

<form method="POST" action="/">
  <input type="text" id=letra name=letra />
  <input type="submit" value="enviar"/>
</form>

<h1>OK</h1>
</body>
</html>
