<html><body>
<h1>Ahorcado</h1>
<form method="POST" action="validar">
<input type="text" id=numero name=numero />
<input type="submit" value="^"/>
</form>


<br />
<br />
<table>
  <tr>
    <td><img src="0.png" height="20%"></td>
    <td>
      <table>
        <tr>
        <% @ahorcado.palabra.split('').each do |l| %>
        <%= "<td>#{l}</td>" %>
        <% end %>
        </tr>
        <tr>
        <% @ahorcado.palabra.split('').each do |l| %>
        <%= "<td>-</td>" %>
        <% end %>
        </tr>
        </table>
    </td>
  </tr>
</table>



letra= <% @@mm.input %>


</body>
</html>



