<html>
<body>
<h1>Ahorcado de Gardel</h1>
<br />
<br />
<table>
  <tr>
    <td><img src="<%= @@ahorcado.puntaje %>.png" height="20%"></td>
    <td>
      <table>
        <!--tr>
        <% @@ahorcado.palabra.split('').each do |l| %>
        <%= "<td>#{l}</td>" %>
        <% end %>
        </tr-->
        <tr id="pr">
        <% @@ahorcado.palabra_reemplazada.each do |l| %>
        <%= "<td>#{l}</td>" %>
        <% end %>
        </tr>
        </table>
    </td>
  </tr>
</table>

<% if @@ahorcado.puntaje < 5 and !@@ahorcado.gano %>
<form method="POST" action="/">
  <input type="text" id=letra name=letra />
  <input type="submit" value="enviar"/>
</form>
<% elsif @@ahorcado.puntaje < 5 and @@ahorcado.gano %>
<h1>GANASTE, PERRA</h1>
<% else %>
<h1>YOU LOSE, BITCH</h1>
<% end %>
<h1 style="display:none">
<%=@estado%>
</h1>
</body>
</html>
